DEVICE=/dev/cdc-wdm0
INTERFACE=wwan0
PING_HOST={{ salt['pillar.get']('qmi_manager:ping_host', 'google.com') }}
MAX_RETRY=10
POWER_SAVE={{ salt['pillar.get']('qmi_manager:power_save', 'true')|lower }}
VERBOSE=false
ONLINE_CALLBACK='autopi event.fire "{}" "system/network/$INTERFACE/online"'
OFFLINE_CALLBACK='autopi event.fire "{\"reason\": \"$REASON\"}" "system/network/$INTERFACE/offline"'