DEVICE=/dev/cdc-wdm0
INTERFACE=wwan0
PING_HOST=google.com
MAX_RETRY=10
VERBOSE=false
ONLINE_CALLBACK='autopi event.fire "{\"interface\": \"$INTERFACE\"}" "network/online"'
OFFLINE_CALLBACK='autopi event.fire "{\"interface\": \"$INTERFACE\", \"reason\": \"$REASON\"}" "network/offline"'
