# ATTENTION: This file is managed by AutoPi and any manual changes may be overwritten during update!
ACTION=="add", SUBSYSTEM=="ieee80211", KERNEL=="phy0", RUN+="/sbin/iw phy %k interface add uap0 type __ap"