# ATTENTION: This file is managed by AutoPi and any manual changes may be overwritten during update!
pip>=10.0.1
pyserial==3.4
redis==2.10.6
retrying==1.3.3
croniter==0.3.20
flask==1.1.1
flask-cors==3.0.8
flask-api==1.1
python-can==3.1.1
cantools==32.16.0
git+git://github.com/autopi-io/py-nmea@e257773cee103f16f75dd1ea4f9e2ef64645540a#pynmea2
git+git://github.com/autopi-io/py-obd@9d00380f804bfa87ca6f25c1d676455cb13b2f54#obd
