#!/bin/sh
# ATTENTION: This file is managed by AutoPi and any manual changes may be overwritten during update!

dev=$1
{% if salt['pillar.get']('rpi:hwclock:rtc_to_sys', default=False) %}
#if [ -e /run/systemd/system ] ; then
#    exit 0
#fi
{%- else %}
if [ -e /run/systemd/system ] ; then
    exit 0
fi
{%- endif %}

if [ -e /run/udev/hwclock-set ]; then
    exit 0
fi

if [ -f /etc/default/rcS ] ; then
    . /etc/default/rcS
fi

# These defaults are user-overridable in /etc/default/hwclock
BADYEAR=no
HWCLOCKACCESS=yes
HWCLOCKPARS=
HCTOSYS_DEVICE=rtc0
if [ -f /etc/default/hwclock ] ; then
    . /etc/default/hwclock
fi

if [ yes = "$BADYEAR" ] ; then
    /sbin/hwclock --rtc=$dev --hctosys --badyear
    /usr/bin/logger "hwclock set (badyear)"
else
    /sbin/hwclock --rtc=$dev --hctosys
    /usr/bin/logger "hwclock set"
fi

# Note 'touch' may not be available in initramfs
> /run/udev/hwclock-set
